<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="logo">
        <image src="/public/images/syh_logo_sketch_bw_transparent.svg" alt="Logo"></image>
        </div>
        <div class="search_bar">
        <form>
            <input type="text" placeholder="Search...">
            <button type="submit">🔍</button>
        </form>
        </div>
    </header>
</body>
</html>