<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Geist+Pixel&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&family=Yuyu&display=swap" rel="stylesheet">
</head>
<body>
    <header>
     <nav>
       <div class="nav_upper">
        <div class="logo">
        <image src="/images/syh_logo_sketch_bw_transparent.svg" alt="Logo"></image>
        
        </div>
        <div>
            <h1>SUDANESE YOUTH HUB</h1>
        </div>
        <div class="search_bar">
        <form>
            <input type="text" placeholder="Search...">
            <button type="submit">🔍</button>
        </form>
        </div>
       </div> 
       <div class="nav_lower">
        <ul>
        <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/projects">Projects</a></li>
         <li><a href="/events">Events</a></li>
         <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>

        </ul>
       </div>
     </nav> 
    </header>

</body>
</html>