<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/navbar.css">
</head>
<body>
    <header>
     <nav>
       <div class="nav_upper">
        <div class="logo">
        <image src="/public/images/syh_logo_sketch_bw_transparent.svg" alt="Logo"></image>
        <h1>SUDANESE YOUTH HUB</h1>
        </div>
        <div class="search_bar">
        <form>
            <input type="text" placeholder="Search...">
            <button type="submit">🔍</button>
        </form>
        </div>
       </div> 
       <div class="nav_lower">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
       </div>
     </nav> 
    </header>

</body>
</html>