<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUDANESE YOUTH HUB | GALLERY</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/gallery.css">
    
</head>
<body>
    
    <%- include("partials/navbar") %>
<main class="gallery-development">

    <section class="development-card">

        <p class="section-label">Gallery</p>

        <h1>Something Beautiful Is Coming</h1>

        <p>
            We are currently preparing a collection of photos from our
            workshops, community activities, youth programs and events.
        </p>

        <div class="development-icon">📸</div>

        <a href="/events" class="btn">
            Explore Our Events
        </a>

    </section>

</main>
    <%- include("partials/footer") %>
    <script src="/js/main.js"></script>
</body>
</html>



